@media screen and (max-width: 1024px) {

  #bannerUp {
    width: 75%!important;
    top: 10%!important;
  }

  .workDiv, .aboutDiv {
    padding-left: 2px!important;
    margin: 0!important;
  }

}

@media screen and (max-width: 992px) {

  .navbar:not(.top-nav-collapse) {
    background: rgba(57, 1, 121, 0.8);
  }

  .navbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
  }

}

@media screen and (max-width: 768px) {

  #about {
    min-height: 1300px!important;
  }

  #bannerUp {
    width: 100%!important;
  }

  .blockContact div {
    text-align: left!important;
  }

  #formModalZapros {
    margin-top: 250px!important;
  }

  #orderSave {
    margin-top: 330px!important;
  }

  #partners {
    min-height: 1200px;
  }

  #workBaner div {
    font-size: 20px!important;
  }

}

@media screen and (max-width: 550px) {

  #alertUp {
    width: 95%!important;
  }
  
  #alertUp div {
    font-size: 26px!important;
  }

  #bannerContact {
    top: 5.28%!important;
    bottom: 70.16%!important;
    background-size: 125%!important;
    height: 320px!important;
  }

  .blockContact {
    padding: 375px 0 100px 0!important;
  }

  #contact {
    min-height: auto!important;
    /* height: 100vh!important; */
  }

  #contact h2 {top: 50px!important;}

  #contact .container {
    padding: 0!important;
  }

  #formModalZapros h4 {
    font-size: 28px!important;
    line-height: 33px!important;
    margin-top: 22px!important;
    text-align: center!important;
  }
  
  footer div {
    padding: 50px 0 140px 0;
  }

  h2 {
    font-size: 28px!important;
    text-align: left!important;
  }

  h3 {
    font-size: 24px!important;
    text-align: left!important;
  }

  h4 {
    font-size: 18px!important;
    text-align: left!important;
    line-height: 21px!important;
  }

  #mapAddress span {
    font-weight: 100!important;
    font-size: 24px!important;
    line-height: 29px!important;
    display: block!important;
  }

  #orderSave h4 {
    font-size: 28px!important;
    line-height: 33px!important;
    margin-top: 102px!important;
    text-align: center!important;
  }

  #partners {
    /* height: 100vh!important; */
    min-height: auto!important;
    padding-bottom: 100px;
  }

  #partners h2 {margin-top: 70px!important;}
  #partners h3 {margin-top: 16px!important;}
  #partners h4 {margin-top: 28px!important;}

  #textOrder {
    font-weight: 100!important;
    font-size: 24px!important;
    line-height: 29px!important;
  }

  #textOrder1 {
    top: 70%!important;
    font-size: 18px!important;
    line-height: 21px!important;
  }

  #textPrice {
    top: 76%!important;
    font-size: 32px!important;
    line-height: 38px!important;
    letter-spacing: -0.03em!important;
  }
  
  #workBox {
    margin-top: 64px!important;
    width: 300px!important;
    height: 300px!important;
  }

  #workBaner {
    border-radius: 0!important;
  }

  #workBaner div {
    font-size: 18px!important;
  }

  #workBaner div span {
    display: block!important;
  }

}