@media screen and (max-width: 1024px) {

  #bannerUp {
    width: 75%!important;
    top: 10%!important;
  }

  .workDiv, .aboutDiv {
    padding-left: 2px!important;
    margin: 0!important;
  }

}

@media screen and (max-width: 992px) {

  .navbar:not(.top-nav-collapse) {
    background: rgba(57, 1, 121, 0.8);
  }

  .navbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
  }

}

@media screen and (max-width: 768px) {

  #about {
    min-height: 1300px!important;
  }

  #bannerUp {
    width: 100%!important;
  }

  .blockContact div {
    text-align: left!important;
  }

  #workBaner div {
    font-size: 20px!important;
  }

}

@media screen and (max-width: 550px) {

  #alertUp {
    width: 95%!important;
  }
  
  #alertUp div {
    font-size: 26px!important;
  }

  #contact h2 {
    top: 50px!important;
  }
  
  h2 {
    font-size: 28px!important;
  }

  #textOrder {
    font-size: 26px!important;
  }

  #textOrder1 {
    top: 70%!important;
    font-size: 18px!important;
  }

  #textPrice {
    top: 76%!important;
    font-size: 32px!important;
  }
  
  #workBox {
    width: 300px!important;
    height: 300px!important;
  }

  #workBaner div {
    font-size: 18px!important;
  }

}