#modalMenu,
#modalOrder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  /* background:rgba(0, 0, 0, 0.9); */
  display: flex;
  align-items: center;
}

#closeMenu {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#modalMenuBody {
  background: linear-gradient(170.22deg, rgba(255, 255, 255, 0.7) -30.87%, #FFFFFF 52.17%, #6AC5B1 125.15%);
  z-index: 2000;
  width: 99.9%;
  height: 100vh;
  margin: 0 auto;
}

#formModalZapros {
  width: 95%;
  margin: 0 auto;
}

#modalMenuBody a {
  font-size: 28px;
  color: #343330;
}

#modalOrderBody {
  position: relative;
  background: linear-gradient(170.22deg, rgba(255, 255, 255, 0.7) -30.87%, #FFFFFF 52.17%, #6AC5B1 125.15%);
  z-index: 2000;
  max-width: 468px;
  width: 99.9%;
  max-height: 568px;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {

  #modalOrderBody {
    height: 100vh!important;
    width: 100%!important;
    max-width: 100%!important;
    max-height: 100%!important;
  }

}

#closeOrder {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#modalOrderBody h4 {
  color: #343330;
  font-family: 'SF Compact Display';
}