@import url(css/bootstrap.min.css);
@import url(css/mdb.min.css);
@import url(css/media.css);
@import url(css/modal.css);
/* Слайдер */
@import url(css/owl.carousel.min.css);
@import url(css/owl.theme.default.min.css);

body {
  font-family: SF Compact Display Thin;
  font-style: normal;
}

.pointer {
  cursor: pointer!important;
}

header {
  height: 100%;
  z-index: 1;
}

input {
  font-size: 16px!important;
}

.navbar { 
  background: rgba(57, 1, 121, 0.8);
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  height: 64px!important;
}

.top-nav-collapse {
  background: rgba(57, 1, 121, 0.8);
}

.navbarMenu {
  font-family: SF Compact Display Thin;
  font-size: 18px;
  color: #FFFFFF;
}

#openMenu {
  margin: 0 10px 2px 0;
}

.navbar-toggler {
  margin-left: -20px!important;
}

#introUp {
  background: linear-gradient(180deg, #390179 1.91%, #6464C8 98.03%);
  height: 100vh;
  width: 100%;
}

#bannerUp {
  position: absolute;
  width: 50%;
  top: 1%;
  z-index: 3;
}

#bannerUp img {
  width: 100%;
}

#backUp {
  position: absolute;
  height: 40%;
  left: 0;
  right: 0;
  top: 18%;
  background: linear-gradient(180deg, rgba(255, 225, 95, 0) 17.9%, #FFE15F 57.29%, rgba(255, 225, 95, 0) 100%);
  z-index: 2;
}

#alertUp {
  position: absolute;
  width: 32rem;
  height: 19%;
  top: 35%;
  background: linear-gradient(92.85deg, rgba(85, 205, 191, 0.83) 4.8%, rgba(46, 129, 255, 0.71151) 48.6%, rgba(98, 56, 187, 0.88) 97.22%);
  /* border: 0.5px solid #FFFFFF; */
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 5px;
  z-index: 4;
}

/* #blockDown {
  background: #1E0C53;
  filter: blur(18px);
  position: absolute;
  width: 35%;
  top: 35%;
} */

#alertUp div {
  font-family: SF Compact Display;
  /* font-size: 36px; */
  font-size: 2.8rem;
  text-align: center;  
  color: #FFFFFF;
}

#textOrder {
  position: absolute;
  top: 56%;
  font-size: 2.2rem;
  /* font-size: 28px; */
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

#textOrder1 {
  position: absolute;
  top: 69%;
  font-family: SF Compact Display;
  font-size: 1.4rem;
  /* font-size: 20px; */
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

#textPrice {
  position: absolute;
  top: 73%;
  font-family: SF Compact Display;
  /* font-size: 62px; */
  font-size: 4.0rem;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  z-index: 2;
}

#textPrice #textPriceRub {
  font-family: 'SF Compact Display Thin'!important;
}

#orderButton,
#orderModalButton {
  position: absolute;
  width: 272px;
  height: 56px;
  top: 88%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FFE15F;
  border-radius: 8px;
  border: none;
  z-index: 4;
  cursor: pointer;
}

#orderButton div,
#orderModalButton div {
  font-family: SF Compact Display;
  font-size: 18px;
  color: #343330;
}

#about {
  position: relative;
  min-height: 1024px;
  height: 100%;
  width: 100%;
  background: linear-gradient(167.63deg, #F2F4F4 46.72%, #EDEEE7 110.37%);
  text-align: center;
}

#bannerAbout {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 33.79%;
  background: url('img/about.png') no-repeat center center;
  /* background-size: cover; 
  -webkit-background-size: cover; */
}

#about h2 {
  position: relative;
  top: 130px;
  font-family: SF Compact Display;
  font-size: 48px;
  text-align: center;
  color: #343330;
}

.aboutList {
  position: relative;
  top: 563px; 
  font-size: 24px;
  color: #343330;
  text-align: left;
}

.aboutDiv {
  padding-left: 3rem;
  margin: 0 1.5rem;
}

#work {
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, #390179 1.91%, #6464C8 98.03%);
  padding-bottom: 144px;
}

#workBox {
  width: 359px;
  height: 359px;
  margin: 0 auto;
}

#workBox img {
  width: 100%;
}

#work h2 {
  font-family: SF Compact Display;
  font-size: 48px;
  color: #FFFFFF;
}

.workList {
  font-size: 24px;
  color: #FFFFFF;
}

.workDiv {
  padding-left: 3rem;
  margin: 0 3rem;
}

#workBaner {
  height: 64px;
  width: 100%;
  background: linear-gradient(92.85deg, rgba(85, 205, 191, 0.83) 4.8%, rgba(46, 129, 255, 0.71151) 48.6%, rgba(98, 56, 187, 0.88) 97.22%);
  border: 0.5px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 5px;
}

#workBaner div {
  font-family: SF Compact Display; 
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;
}

#partners {
  position: relative;
  min-height: 1024px;
  height: 100%;
  background: linear-gradient(167.63deg, #F2F4F4 46.72%, #EDEEE7 110.37%);
}

#partners h2 {
  font-family: SF Compact Display;
  font-size: 48px;
  text-align: center;
  color: #343330;
  margin-top: 123px;
}

#partners h3 {
  font-size: 36px;
  text-align: center;
  color: #343330;
  margin-top: 125px;
}

#partners h4 {
  font-size: 24px;
  text-align: center;
  color: #343330;
  margin-top: 69px;
}

/* #partners img {
  width: 100%;
  height: 100%;
} */

#contact {
  position: relative;
  min-height: 700px;
  height: 100%;
  background: linear-gradient(180deg, #390179 1.91%, #6464C8 98.03%);
  text-align: center;
}

#bannerContact {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 21.15%;
  background: url('img/contacts.png') no-repeat center center;
}

#contact h2 {
  position: absolute;
  top: 110px;
  font-family: SF Compact Display;
  font-size: 48px;
  color: #FFFFFF;
}

.blockContact {
  padding-top: 569px;
  font-size: 24px;
  color: #FFFFFF;
}

footer {
  position: relative;
  min-height: 120px;
  height: 100%;
  background: linear-gradient(180deg, #390179 1.91%, #6464C8 98.03%);
  font-size: 24px;
  text-align: center;  
  color: #FFFFFF;
}

.orderButton {
  width: 290px;
  height: 56px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FFE15F;
  border: none;
  border-radius: 8px;
  font-family: SF Compact Display;
  font-size: 18px;
  text-align: center;
  color: #343330;
  cursor: pointer;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'SF Compact Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Thin'), url('font/sf-compact-display-thin-58646eb43a785.woff') format('woff');
}

@font-face {
  font-family: 'SF Compact Display';
  src: local('SF Compact Display'), url('font/SF-Compact-Display-Bold.ttf') format('truetype');
}
  

@font-face {
  font-family: 'SF Compact Display Medium';
  font-style: normal;
  font-weight: bold;
  src: local('SF Compact Display Medium'), url('font/sf-compact-display-medium-5864711817c30.woff') format('woff');
}
